h2{
    font-size: 48px;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #333;
    font-size: 20px;
}

li{
    color: #777;
    font-size: 20px;
}

li:nth-child(1){
    text-decoration: overline;
}
li:nth-child(2){
    text-decoration: line-through;
}
li:nth-child(3){
    text-decoration: underline;
}