*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    width: 500px;
    box-shadow: 0px 0px 20px rgb(106, 106, 106);
    border-radius: 20px;
}

.formhead{
    background-color: mediumturquoise;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
}

h3{
    color: mediumturquoise;
    padding: 20px 0 5px 15px;
}

  h3:before {
    margin:0 5px 0 -25px ;
    background: mediumturquoise;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }

  .name::before{
    content: "1";
  }

  .email::before{
    content: "2";
  }

  .password::before{
    content: "3";
  }

div{
    background-color: rgba(211, 211, 211, 0.444);
    height: 160px;
    margin: 0 30px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    margin: 0 30px;
    padding: 3px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
}

label{
    margin: 5px 30px;
    color: rgb(83, 81, 81);
}



#submit{
    padding: 5px 15px;
    margin: 0 110px 30px 30px;
    color: white;
    background-color: mediumturquoise;
}

section label{
    margin: 0;
}

input[type="checkbox"]{
    margin: 0;
    box-shadow: none;
}