@mixin namedesmixin{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin textStyle($fontSize, $color, $background){
    font-size: $fontSize;
    color: $color;
    background: $background;
}