.click{
    height: 300px;
    width: 1000px;
    background-color: gray;
    position: relative;
}

.pink{
    background-color: pink;
    height: 180px;
    width: 180px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: 1s ease-in-out;
    
}

.blue{
    background-color: lightblue;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    left: 300px;
    transition: 1s ease-in-out;
   
}

.click:active .pink {
    left: 128px;
  }
  
  .click:active .blue {
    left: 900px;
    transition: 3s 1s ease-in-out;
  }