h3::first-letter{
    color: #00796B;
    font-size: 3em;
}

h3:hover::first-letter{
    color: #4FC3F7;
}

.l1::first-letter{
    font-size: 2em;
    color: #4FC3F7;
    text-decoration: overline;
}

.l2::first-letter{
    font-size: 2em;
    text-decoration: underline;
    color: #C51162;
}

.l3::first-letter{
    font-size: 2em;
    color: #64DD17;
}

.l3{
    text-decoration: line-through;
}

.follow::first-letter{
    color: #D50000;
    font-size: 1.5em;
}

.follow::first-line{
    color: #64DD17;
}
/* HOVERN BLAU */
.follow:hover::first-line{
    color: blue;
}

.follow:nth-child(even){
   font-weight: 600; 
}

.starter{
    color: #37474F;
    text-indent: 50px;
}

.starter:first-line{
    font-size: 1.3em;
}