:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
  }

  h1{
    margin-bottom: 8rem;
    font-size: 3.2rem;
}

h3{
    margin-bottom: 1rem;
}