li:nth-child(3n+3){
   color: #311B92; 
   font-family: 'Courier New', Courier, monospace;
}

li:nth-child(5n+5){
    background-color: #FFF176;
}

li:nth-child(even){
text-decoration: underline;
}

li:nth-child(odd){
    list-style-type: square;
}

li:nth-child(7n+7){
    font-size: 1.6em;
}

li:first-child{
    color: #E53935;
}

li:nth-child(4n+4){
    letter-spacing: 6px;
}

li:nth-child(13n+13){
    background-color: #FF8A80;
}